/* ==============================================
   = Autor: Igor Costa                          
   = Data de Construção: 20/06/2024
   = GitHub: https://github.com/vigorcosta2
   = Email:  portaldovigorcosta@gmail.com
   = Nome :  Dica sobre tela responsivo (Didático)               
   ==============================================*/

/*ESTILOS DE CSS*/
.tela{
    background-color: blueviolet;
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: center;
 }

/*-----------------------------------------------------------------------CELULAR*/

@media(min-width: 360px) and (max-width:480px){ 
 
    .tela{background-color: red; font-size: 1em;}
}

@media(min-width: 480px) and (max-width:640px){ 

    .tela{background-color: cornflowerblue; font-size: 1.5em;}

}

@media(min-width: 640px) and (max-width:768px){ 
 
    .tela{background-color: rgb(116, 237, 100);font-size: 1.8em;}
}

/*-------------------------------------------------------------------------TABLET*/

@media(min-width:768px) and (max-width:1024px){
    
    .tela{background-color: rgb(155, 25, 122); font-size: 2em;}
}

/*-------------------------------------------------------------------------NOTEBOOK / COMPUTADOR*/
@media(min-width:1024px) and (max-width:1366px){
    
    .tela{background-color: rgb(7, 11, 61); font-size: 2em;}
}

@media(min-width:1366px) and (max-width:1600px){
    
    .tela{background-color: rgb(78, 82, 134); font-size: 3em;}
}

/*--------------------------------------------------------------------------MONITOR ALTA RESOLUÇÃO*/
@media(min-width:1600px) and (max-width: 1920px){
    
    .tela{background-color: rgb(192, 189, 18); font-size: 4em;}

}