/* ==============================================
   = Autor: Igor Costa                          
   = Data de Construção: 20/06/2024
   = GitHub: https://github.com/vigorcosta2
   = Email:  portaldovigorcosta@gmail.com
   = Nome :  Responsivo Orientação a objeto Avançado (Didático)               
   ==============================================*/


:root{

    /* Cor de Fundo */
    --vermelho: crimson;
    --laranja:  orangered;
    --amarelo:  yellow;
    --azul:     cornflowerblue;
    --azulado:  cadetblue;
    --verde:    greenyellow;
    --roxo:     blueviolet;
    --branco:   white;
    --preto:    black;
    --cor:      red;

    /*Fonte*/
    --fonte: 1em;
    --fonte-1: 1.5em;
    --fonte-2: 1.8em;
    --fonte-3: 2em;
    --fonte-4: 3em;
    --fonte-5: 5em;

    /*Tamanho*/
    --largura: 100%;

}
/*ORIENTADO A OBJETO AVANÇADO*/

h2[cor='preto'] { color: var(--preto);}

/*ESTILOS DE CSS ORIETADO A OBJETO AVANÇADO*/

[tela] {  width: var(--largura); text-align: center; background: var(--roxo); font-size: var(--fonte); color: var(--branco); }



/*-----------------------------------------------------------------------CELULAR*/

@media(min-width: 360px) and (max-width:480px){ 

    [tela] {  background: var(--vermelho);  font-size: var(--fonte);  }
    
   
}

@media(min-width: 480px) and (max-width:640px){ 

    [tela] {  background: var(--amarelo);  font-size: var(--fonte-1);  }

   

}

@media(min-width: 640px) and (max-width:768px){ 

    [tela] {  background: var(--laranja);  font-size: var(--fonte-2);  }

    h2{ color: var(--roxo);}

    
}

/*-------------------------------------------------------------------------TABLET*/

@media(min-width:768px) and (max-width:1024px){
    
    [tela] {  background: var(--verde);  font-size: var(--fonte-3);  }
 
    /* Tá confuso? 
    Dica: Não modifica entre colchete, continua à mesma regra do css. 
    Só altera entre chaves, adiciona elementos.
    */
    h2[cor='preto']{ color: var(--cor);}
   

}

/*-------------------------------------------------------------------------NOTEBOOK / COMPUTADOR*/
@media(min-width:1024px) and (max-width:1366px){
    
    [tela] {  background: var(--azul);  font-size: var(--fonte-3);  }

}

@media(min-width:1366px) and (max-width:1600px){
    
    [tela] {  background:var(--azulado);  font-size: var(--fonte-4);  }
    
}

/*--------------------------------------------------------------------------MONITOR ALTA RESOLUÇÃO*/
@media(min-width:1600px) and (max-width: 1920px){
    
    [tela] {  background:var(--roxo);  font-size: var(--fonte-5); }

}